.banner {
  aspect-ratio: 3 / 1;
  width: 100%;
  background: var(--cmm-color-primary-soft-bg);

  > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
}

.topRow {
  display: flex;
  justify-content: space-between;
  padding: 1rem var(--container-pad-inline) 0 var(--container-pad-inline);
  container-type: inline-size;
}

.actions {
  display: flex;
  gap: 0.75rem;
}

.avatar {
  --cmm-Avatar-size: max(20cqw, 6.5rem);
  margin-block-start: calc(
    var(--cmm-Avatar-size) / -2 - var(--container-pad-inline)
  );
  --cmm-Avatar-ring-size: 0.25rem;
  // TODO: add --cmm--Avatar-ring-color
}

.about {
  padding: 1rem var(--container-pad-inline);
}

.displayName {
  font-size: var(--cmm-font-size-4xl);
  font-weight: var(--cmm-font-weight-bold);
  line-height: 1;
}

.handleWrap {
  margin-block-start: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 0.5rem;
}

.handle {
  color: var(--cmm-color-font-subtle);
}

.dl {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-block-start: 0.5rem;
  font-size: var(--cmm-font-size-sm);

  > a {
    display: flex;
    flex-direction: row-reverse;
    gap: 0.25rem;

    &:hover {
      text-decoration: underline;
    }
  }

  .data {
    font-weight: var(--cmm-font-weight-bold);
  }

  .term {
    color: var(--cmm-color-font-subtle);
  }
}

.description {
  margin-block-start: 1rem;
}

.followUnfollowBtn {
  font-weight: var(--cmm-font-weight-bold);
}

.followedTag {
  font-size: calc(var(--cmm-font-size-xs) * 0.9);
}

.main {
  border-top: 1px solid var(--cmm-color-border-base);
  margin-block-start: 1rem;
}
