.container {
  display: grid;
}

.col2 {
  grid-template-columns: auto 1fr;
  padding: 1rem;
  gap: 1rem;
}

.startSection {
  display: grid;
  place-items: start center;
  padding-block-start: 0.4rem;
  width: 2.5rem;

  > svg {
    $size: 1.25rem;
    width: $size;
    height: $size;
  }
}

.endSection {
  min-width: 0;
  &:has(.mention) {
    grid-row: 1;
    grid-column: 1 / -1;
  }
}

.avatar {
  --cmm-Avatar-size: 2rem;
}

.message {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}

.displayName {
  font-weight: var(--cmm-font-weight-bold);
  max-inline-size: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-inline-end: 0.3em;
}

.reason {
  font-size: var(--cmm-font-size-sm);
}

.followIcon {
  color: var(--cmm-color-font-muted);
}

.replyIcon {
  color: var(--color-reply);
}

.repostIcon {
  color: var(--color-repost);
}

.upvoteIcon {
  color: var(--color-upvote);
}
