.container {
  padding-inline: var(--container-pad-inline);
  padding-block-start: 1rem;
  padding-block-end: 5rem;
  min-height: calc(100dvh - var(--header-height));
}

.title {
  font-weight: var(--cmm-font-weight-bold);
  font-size: var(--cmm-font-size-4xl);
}

.markup {
  margin-block-start: 1rem;
}

.buyMeACoffee {
  img {
    border-radius: var(--cmm-radius-full);
    height: 3rem;
  }
}
