.container {
  padding-block-end: 6rem;
}

.notFound {
  padding-block: 1rem;
  padding-inline: var(--container-pad-inline);

  a {
    display: inline-block;
    text-decoration: underline;
    margin-block-start: 1rem;
  }
}
