@use "mixins";

.container {
  padding-block-end: 6rem;
}

.notFound {
  padding-block: 1rem;
  padding-inline: var(--column-pad-inline);

  a {
    @include mixins.underline;
    display: inline-block;
    margin-block-start: 1rem;
  }
}
