.container {
  padding-block-end: 2rem;
}

.title {
  padding-inline: var(--column-pad-inline);
  font-weight: var(--cmm-font-weight-bold);
  font-size: var(--cmm-font-size-2xl);
  margin-block: 1em;
}
