@use "mixins";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --container-width: 44rem;
  --container-pad-inline: 1.5rem;
  --header-height: 3.5rem;
  --color-upvote: #eab308;
  --color-repost: #22c55e;
  --color-reply: #06b6d4;

  @include mixins.mq(md) {
    --container-pad-inline: 1rem;
  }
}

body {
  [data-theme="light"] & {
    background: var(--cmm-color-surface-2);
  }
}

.scrollbar {
  --scrollbar-width: 16px;
  --scrollbar-thumb-color: var(--cmm-color-gray-3);
  --scrollbar-thumb-color-hover: var(--cmm-color-gray-4);

  scrollbar-color: var(--scrollbar-thumb-color) transparent;

  [data-theme^="dark"] & {
    --scrollbar-thumb-color: var(--cmm-color-gray-7);
    --scrollbar-thumb-color-hover: var(--cmm-color-gray-6);
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 999px;
    border: 5px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-color-hover);
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.Button,
.IconButton {
  border-radius: var(--cmm-radius-full);
}

.clickable-overlay {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    cursor: inherit;
  }
}

.toast {
  background: var(--cmm-color-surface-0) !important;
  color: var(--cmm-color-font-base) !important;
  border: 1px solid var(--cmm-color-border-base) !important;

  [data-theme="dark"] & {
    background: var(--cmm-color-surface-2) !important;
  }
}

// Should be browser's default but let it be explicit.
[hidden] {
  display: none;
}

// For glightbox
.gzoomIn,
.gZoomOut {
  animation-duration: 0.3s !important;
}
