:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --header-height: 3.5rem;
}

.scrollbar {
  --scrollbar-width: 16px;
  --scrollbar-thumb-color: var(--cmm-color-gray-3);
  --scrollbar-thumb-color-hover: var(--cmm-color-gray-4);

  scrollbar-color: var(--scrollbar-thumb-color) transparent;

  [data-theme^="dark"] & {
    --scrollbar-thumb-color: var(--cmm-color-gray-7);
    --scrollbar-thumb-color-hover: var(--cmm-color-gray-6);
  }

  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
    height: var(--scrollbar-width);
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color);
    border-radius: 999px;
    border: 5px solid transparent;
    background-clip: content-box;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: var(--scrollbar-thumb-color-hover);
  }

  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

.Button,
.IconButton {
  border-radius: var(--cmm-radius-full);
}
