@use "var";

@mixin mq($size) {
  @media screen and (max-width: #{map-get(var.$breakpoints, $size)}) {
    @content;
  }
}

@mixin lineClamp($lines) {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lines;
}

@mixin visuallyHidden() {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

@mixin underline() {
  text-decoration: underline;
  text-underline-position: from-font;
  text-decoration-thickness: from-font;
}

@mixin skelton() {
  background: var(--cmm-color-surface-2);
  animation: loading 1.5s linear infinite;

  @keyframes loading {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
  }
}
