@use "@/mixins";

.container {
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-2xl);
  padding: 0.75em;
  position: relative;

  &:hover {
    background: var(--cmm-color-surface-2);
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 0.2em;
}

.avatarWrap {
  display: grid;
  place-items: center;
}

.avatar {
  --cmm-Avatar-size: 1em;
}

.displayName {
  font-weight: var(--cmm-font-weight-bold);
  white-space: nowrap;
}

.handle {
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.body {
  @include mixins.lineClamp(3);
  margin-block-start: 0.2em;
  font-size: var(--cmm-font-size-sm);
}

.focusLink {
  display: inline-block;
  margin-block-end: 1rem;
  padding-inline: 0.5rem;
  font-size: var(--cmm-font-size-sm);
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-sm);

  &:not(:focus-visible) {
    @include mixins.visuallyHidden;
  }
}
