@use "@/mixins";

.container {
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-2xl);
  padding: 0.75em;
  position: relative;

  &:hover {
    background: var(--cmm-color-surface-2);
    cursor: pointer;
  }
}

.title {
  @include mixins.lineClamp(1);
  font-size: var(--cmm-font-size-sm);
  font-weight: var(--cmm-font-weight-bold);
}

.description {
  @include mixins.lineClamp(2);
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);
  margin-block-start: 0.25rem;
}

.host {
  display: flex;
  align-items: center;
  gap: 0.3em;
  flex-wrap: wrap;
  margin-block-start: 0.25rem;

  &__favicon {
    img {
      $size: 0.8rem;
      width: $size;
      height: $size;
      border-radius: var(--cmm-radius-xs);
    }
  }

  &__text {
    font-size: var(--cmm-font-size-sm);
    color: var(--cmm-color-font-subtle);
  }
}
