@use "mixins";

.container--compact {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2rem;

  img {
    inline-size: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: var(--cmm-radius-md);
    border: 1px solid var(--cmm-color-border-base);

    &:hover {
      filter: brightness(0.9);
    }
  }
}

.container--stack {
  display: block;
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-2xl);
  overflow: hidden;
  background: var(--cmm-color-surface-0);
  aspect-ratio: 16 / 9;

  button {
    inline-size: 100%;
    block-size: 100%;
  }

  img {
    inline-size: 100%;
    block-size: 100%;
    object-fit: cover;

    &:hover {
      filter: brightness(0.9);
    }
  }

  &%grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    gap: 0.15rem;
  }

  &.two {
    @extend %grid;
  }

  &.three {
    @extend %grid;
    grid-template-rows: repeat((2, 50%));

    :first-child {
      grid-row: 1 / -1;
    }
  }

  &.four {
    grid-template-rows: repeat((2, 50%));
    @extend %grid;
  }
}
