.button {
  width: 2rem;
  height: 2rem;
  border-radius: var(--cmm-radius-full);
  outline-offset: 2px;
  display: block;
}

.items {
  &:focus {
    outline: none;
  }
}

.link {
  gap: 0.3rem !important;

  &[aria-current="page"] {
    font-weight: var(--cmm-font-weight-bold);
  }

  svg {
    font-size: 1.2em;
    margin-block-end: 2px;
    color: var(--cmm-color-font-subtle);
  }
}
