.container {
  block-size: var(--mobile-nav-block-size);
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--cmm-color-border-base);
  position: sticky;
  top: 0;
  background: var(--cmm-color-surface-0);
  z-index: 50;
}

.sectionStart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sectionEnd {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--cmm-font-weight-bold);
  font-size: var(--cmm-font-size-2xl);
  line-height: 1;

  > svg {
    width: 1.75rem;
    height: 1.75rem;
  }

  &__text {
    margin-block-start: 0;
  }
}

.reloadBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  color: var(--cmm-color-font-subtle);

  &:hover {
    color: var(--cmm-color-font-base);
  }
}

.avatar {
  &:hover {
    filter: brightness(0.9);
  }
}

.aboutBtn {
  --cmm-IconButton-size: 1.25rem;
  --cmm-IconButton-icon-size: 1rem;
  margin-block-start: 0.2em;

  > svg {
    stroke-width: 2.5;
  }
}
