.container {
  block-size: var(--mobile-nav-block-size);
  inline-size: 100%;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--cmm-color-border-base);
  position: fixed;
  background: var(--cmm-color-surface-0);
  z-index: 100;
}

.sectionStart {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.sectionEnd {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: var(--cmm-font-weight-bold);
  font-size: var(--cmm-font-size-2xl);
  line-height: 1;

  > svg {
    width: 1.75rem;
    height: 1.75rem;
  }

  &__text {
    margin-block-start: 0;
  }
}

.button {
  --cmm-IconButton-size: 2.25rem;

  > svg {
    --cmm-IconButton-icon-size: 1.4rem;
  }
}

.notif {
  margin-inline-start: 0.5rem;
}

.avatar {
  margin-inline-start: 1rem;
}

.aboutBtn {
  --cmm-IconButton-size: 1.25rem;
  --cmm-IconButton-icon-size: 1rem;
  margin-block-start: 0.2em;

  > svg {
    stroke-width: 2.5;
  }
}
