.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  > button {
    align-self: flex-end;
  }
}

.dialog {
  :global {
    .Dialog__content {
      margin: 0;
      padding-top: 1rem;
    }
  }
}

.action {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
}

.keybinding {
  font-size: var(--cmm-font-size-xs);
  color: var(--cmm-color-font-muted);
  place-self: end start;

  kbd {
    font-family: var(--cmm-font-family-base);
    border: 1px solid var(--cmm-color-border-base);
    border-radius: var(--cmm-radius-sm);
    padding: 0.2em 0.3em;
    margin-inline-end: 0.25em;
    font-weight: var(--cmm-font-weight-medium);
  }
}

.postBtnWrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.composeBtn {
  position: fixed;
  right: 1.5rem;
  bottom: 1.5rem;
  z-index: 50;
  border-radius: var(--cmm-radius-full);

  > svg {
    stroke-width: 1.7;
  }
}
