.container {
  position: relative;
}

.row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.post {
  border-bottom: 1px solid var(--cmm-color-border-base);
}

.spinner {
  margin-block-start: 1rem;
  display: grid;
  place-items: center;
}

.noMore {
  margin-block: 1rem;
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);
  text-align: center;
}

.newItemBtn {
  position: absolute;
  top: 0.75rem;
  left: 50%;
  translate: -50%;
  z-index: 60;
  min-inline-size: 9rem;
  color: var(--cmm-color-primary-font);
  background: var(--cmm-color-surface-0);
  border: 1px solid var(--cmm-color-border-base);
  box-shadow: var(--cmm-shadow-lg);

  &:disabled {
    opacity: 1;
  }
}
