@use "mixins";

.container {
  position: relative;
  margin-block-end: 6rem;
}

.row {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.post {
  border-bottom: 1px solid var(--cmm-color-border-base);
}

.spinner {
  margin-block-start: 1rem;
  display: grid;
  place-items: center;
}

.noMore {
  margin-block: 1rem;
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);
  text-align: center;
}

.newItemBtn {
  --cmm-Button-icon-margin: 0.25rem;
  position: fixed;
  z-index: 60;
  padding-inline: 0.75rem;
  color: var(--cmm-color-primary-font);
  background: var(--cmm-color-surface-0);
  border: 1px solid var(--cmm-color-border-base);
  box-shadow: var(--cmm-shadow-lg);
  inset-block-end: 5rem;
  inset-inline-end: 1.5rem;
  block-size: 2rem;

  &:hover {
    background: var(--cmm-color-surface-2);
  }

  &:disabled {
    opacity: 1;
  }

  @include mixins.mq(md) {
    translate: unset;
    inset-block-end: unset;
    inset-inline-end: unset;
    inset-inline-start: 1rem;
    inset-block-end: 1rem;
    block-size: 2.5rem;
  }
}
