@use "mixins";

.container {
  --btn-block-size: 2em;
  --btn-font-size: 0.9rem;
  padding-block: 0.5rem;

  &--mobile {
    overflow: auto;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    padding-inline: 0.5rem;
  }

  :global(.os-viewport) {
    display: flex !important;
    gap: 0.25rem !important;
    padding-inline: 1rem !important;
  }
}

.button {
  color: var(--cmm-color-font-subtle);
  border-radius: var(--cmm-radius-full);
  padding-inline: 0.75em;
  font-size: var(--btn-font-size);
  font-weight: var(--cmm-font-weight-semibold);
  block-size: var(--btn-block-size);
  white-space: nowrap;
  scroll-margin-inline: 0.5rem;

  &:hover {
    background: var(--cmm-color-neutral-soft-bg);
    color: var(--cmm-color-font-base);
  }

  &[aria-pressed="true"] {
    background: var(--cmm-color-primary-soft-bg);
    color: var(--cmm-color-primary-soft-font);
  }
}

.skelton {
  @include mixins.skelton;

  font-size: var(--btn-font-size);
  block-size: var(--btn-block-size);
  inline-size: 6rem;
  border-radius: var(--cmm-radius-full);
  margin-inline-start: 0.5rem;
}
