.details {
  border-block-end: 1px solid var(--cmm-color-border-base);
  font-size: var(--cmm-font-size-sm);
}

.summary {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  padding: 0.5rem 1rem;

  > svg {
    font-size: 1.25rem;
  }

  &:hover {
    cursor: pointer;
    background: var(--cmm-color-surface-1);
  }

  &::-webkit-details-marker {
    display: none;
  }
}

.content {
  --cmm-FormFieldLabel-font-weight: var(--cmm-font-weight-normal);

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem 1rem 1rem 1rem;
}
