@use "mixins";

.container {
  position: fixed;
  inset-inline-end: 1.5rem;
  inset-block-end: 1.5rem;
  z-index: 50;
  border-radius: var(--cmm-radius-full);

  > svg {
    stroke-width: 1.7;
  }

  @include mixins.mq(md) {
    inset-inline-end: 1rem;
    inset-block-end: 1rem;
  }

  &--mobile {
    --cmm-IconButton-size: 3.5rem;
  }
}
