.container {
  padding-inline: var(--column-pad-inline);
  padding-block-start: 1rem;
  padding-block-end: 2rem;
}

.title {
  font-weight: var(--cmm-font-weight-bold);
  font-size: var(--cmm-font-size-2xl);
  margin-block-end: 1em;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-block-end: 2.5rem;
  row-gap: 1em;

  h2 {
    font-weight: var(--cmm-font-weight-bold);
    font-size: var(--cmm-font-size-lg);
  }
}

.themeSelect {
  width: fit-content;
}
