.viewThread {
  padding-inline: 1rem;
  padding-block: 0.25rem;
  display: grid;
  grid-template-columns: 2.5rem 1fr;
  gap: 1rem;
  font-size: var(--cmm-font-size-sm);
  font-weight: var(--cmm-font-weight-medium);
  color: var(--cmm-color-link);

  &:hover {
    background: var(--cmm-color-surface-1);
  }
}

.line {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.lineDot {
  inline-size: 3px;
  block-size: 3px;
  background: var(--cmm-color-border-emphasis);
  border-radius: var(--cmm-radius-full);
}
