.container {
}

.list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.button {
  font-size: var(--cmm-font-size-sm);
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-full);
  padding-inline: 0.75em;
  line-height: 1.55;
  display: flex;
  gap: 0.25em;
  color: var(--cmm-color-link);

  &:hover {
    border-color: var(--cmm-color-border-emphasis);
  }

  &[aria-pressed="true"] {
    background: var(--cmm-color-primary-solid-bg);
    color: var(--cmm-color-primary-solid-font);
  }

  &__plus {
    font-weight: var(--cmm-font-weight-medium);
  }
}
