@use "mixins";
@use "./postMixins";

.container {
  @include postMixins.container;

  &.link:hover {
    background: var(--cmm-color-surface-1);
    cursor: pointer;
  }

  &.muted {
    font-size: var(--cmm-font-size-sm);
    color: var(--cmm-color-font-subtle);
  }

  // disable hover effect on mobile devices
  // 32rem is just a magic number...
  @include mixins.mq(sm) {
    &.link:hover {
      background: var(--cmm-color-surface-0);
    }
  }
}

%truncatedTag {
  > span {
    max-width: 7rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.repost {
  @extend %truncatedTag;
  margin-inline-start: 3.5rem;
  margin-block-end: 0.5rem;
  column-gap: 0.4em;
  border: 1px solid transparent;

  &:hover {
    border: 1px solid var(--cmm-color-border-base);
  }
}

.reply {
  @extend %truncatedTag;
  background: none;
  padding: 0;
  margin-block-start: 0.3rem;
  font-weight: var(--cmm-font-weight-normal);
  column-gap: 0.3em;
}

.main {
  @include postMixins.main;
}

.left {
  position: relative;
}

.right {
  @include postMixins.right;
}

.header {
  @include postMixins.header;
  display: flex;
  gap: 0.25rem;
  align-items: baseline;
}

.usernameLink {
  min-inline-size: 0;
  white-space: nowrap;

  &:hover {
    @include mixins.underline;
    cursor: pointer;
  }
}

.usernameInner {
  text-overflow: ellipsis;
  overflow: hidden;
}

.displayName {
  font-weight: var(--cmm-font-weight-bold);
  margin-inline-end: 0.3em;
}

.handle {
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);
}

.time {
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);

  &::before {
    content: "·";
    margin-inline-start: 0.1em;
    margin-inline-end: 0.25em;
    font-weight: var(--cmm-font-weight-bold);
  }
}

.content {
  @include postMixins.content;

  > * + * {
    margin-block-start: 1rem;
  }

  > .prose:last-child {
    margin-block-end: 0.5rem;
  }

  > .embed:first-child {
    margin-block-start: 0.5rem;
  }

  > .embed:last-child {
    margin-block-end: 1rem;
  }
}

.prose {
  translate: inherit; // dummy
}

.embed {
  translate: inherit; // dummy
}

.avatar {
  @include postMixins.avatar;

  &:hover {
    filter: brightness(0.9);
  }
}

%line {
  position: absolute;
  inset-inline-start: 50%;
  translate: -50%;
  inline-size: 3px;
  background: var(--cmm-color-border-emphasis);
}

// TODO: don't hard-code
.line--up {
  @extend %line;
  inset-block-start: -1rem;
  block-size: calc(1rem - 0.3rem);
  border-end-start-radius: var(--cmm-radius-full);
  border-end-end-radius: var(--cmm-radius-full);
}

.line--down {
  @extend %line;
  inset-block-start: calc(2.5rem + 0.3rem);
  block-size: 100%;
  border-start-start-radius: var(--cmm-radius-full);
  border-start-end-radius: var(--cmm-radius-full);
}

.reactionList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.reaction {
  $padX: 0.75em;
  $padY: 0.2em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: var(--cmm-color-font-subtle);
  font-size: var(--cmm-font-size-sm);
  width: fit-content;
  min-width: 3rem;
  height: 100%;
  padding: $padY $padX;
  margin: 0 0 (-$padY) (-$padX);

  &:where(:hover, :focus-visible):not(.reacted) {
    color: var(--cmm-color-font-base);

    .reaction__icon {
      background: var(--cmm-color-primary-soft-bg);
    }
  }

  &.disabled {
    cursor: not-allowed;
  }

  &__icon {
    $pad: 0.3em;
    padding: $pad;
    margin: calc($pad * -1);
    border-radius: var(--cmm-radius-full);

    > svg {
      width: 1em;
      height: 1em;
    }
  }

  &__count {
    min-block-size: 1.5em; // ensure height even when count isn't shown
  }
}

.focusLink {
  display: inline-block;
  margin-block-end: 1rem;
  padding-inline: 0.5rem;
  font-size: var(--cmm-font-size-sm);
  border: 1px solid var(--cmm-color-border-base);
  border-radius: var(--cmm-radius-sm);

  &:not(:focus-visible) {
    @include mixins.visuallyHidden;
  }
}
