$width: 34rem;

.container {
  --pad: 1.25rem;
  display: flex;
  flex-direction: column;
  row-gap: var(--pad);

  @media screen and (max-width: $width) {
    --pad: 1rem;
  }

  > button {
    align-self: flex-end;
  }

  hr {
    border-top: 1px solid var(--cmm-color-border-base);
  }
}

.dialog {
  :global {
    --cmm-Dialog-outer-margin: 0px;

    .Dialog__panel {
      --cmm-Dialog-min-width: $width;
      --cmm-Dialog-max-width: $width;
      width: min($width, 100vw);
      padding: 0;
      overflow: auto;

      @media screen and (max-width: $width) {
        border-radius: 0;
        height: 100dvh;
      }
    }

    .Dialog__content {
      margin: 0;
    }

    .Dialog__close {
      display: none;
    }
  }
}

.hr {
}

.closeBtn {
  margin: calc(var(--pad) - 0.5rem) 0 0 calc(var(--pad) - 0.5rem);
}

.post {
  padding-block: 0;
}

.form {
  display: grid;
  grid-template-columns: auto 1fr;
  column-gap: 1rem;
  row-gap: 0.25rem;
  padding-inline: var(--pad);

  .avatar {
    --cmm-Avatar-size: 2.5rem;
    grid-column: 1;
    grid-row: 2;
  }

  label {
    grid-column: 2;
    grid-row: 1;
    font-size: var(--cmm-font-size-sm);
  }

  textarea {
    grid-column: 2;
    grid-row: 2;
  }
}

.action {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 1rem;
  padding-inline: var(--pad);
  padding-block-end: var(--pad);
}

.postBtnWrap {
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.composeBtn {
  position: fixed;
  right: max(calc((100vw - var(--container-width)) / 2 + 1.5rem), 1.5rem);
  bottom: 1.5rem;
  z-index: 50;
  border-radius: var(--cmm-radius-full);

  > svg {
    stroke-width: 1.7;
  }
}

.quoteTarget {
  margin-inline: var(--pad);
}
