.container {
  padding: 1rem 1rem;
  background: var(--cmm-color-surface-0);
  position: relative;

  &.link:hover {
    background: var(--cmm-color-surface-1);
    cursor: pointer;
  }

  // disable hover effect on mobile devices
  // 32rem is just a magic number...
  @media screen and (max-width: 32rem) {
    &.link:hover {
      background: var(--cmm-color-surface-0);
    }
  }
}

.repost {
  margin-inline-start: 3.5rem;
  margin-block-end: 0.5rem;
  column-gap: 0.4em;
}

.reply {
  width: fit-content;
  background: none;
  padding: 0;
  margin-block-start: 0.3rem;
  font-weight: var(--cmm-font-weight-normal);
  column-gap: 0.3em;
}

.main {
  display: flex;
  gap: 1rem;
  min-height: 3rem;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
}

.header {
  display: flex;
  gap: 0.25rem;
  flex-wrap: wrap;
  align-items: baseline;
  line-height: 1.1;
}

.displayName {
  font-weight: var(--cmm-font-weight-bold);

  &:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.name {
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);
}

.time {
  font-size: var(--cmm-font-size-sm);
  color: var(--cmm-color-font-subtle);

  &::before {
    content: "·";
    margin-inline-start: 0.1em;
    margin-inline-end: 0.25em;
    font-weight: var(--cmm-font-weight-bold);
  }
}

.prose {
  flex: 1;
  display: inline-block;
  margin-block-start: 0.3rem;
}

.avatar {
  --cmm-Avatar-size: 2.5rem;

  &:hover {
    filter: brightness(0.9);
  }
}

.reactionList {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-block-start: 0.25rem;
}

.reaction {
  $padX: 1em;
  $padY: 0.2em;
  display: flex;
  gap: 0.5em;
  align-items: center;
  color: var(--cmm-color-font-subtle);
  font-size: var(--cmm-font-size-sm);
  width: fit-content;
  min-width: 3rem;
  height: 100%;
  padding: $padY $padX;
  margin: 0 0 -$padY -$padX;

  &:where(:hover, :focus-visible):not(.reacted) {
    color: var(--cmm-color-font-base);

    .reaction__icon {
      background: var(--cmm-color-primary-soft-bg);
    }
  }

  &__icon {
    $pad: 0.3em;
    padding: $pad;
    margin: calc($pad * -1);
    border-radius: var(--cmm-radius-full);

    > svg {
      width: 1em;
      height: 1em;
    }
  }
}

.embed {
  margin-block: 1rem;
}
