@use "mixins";

@mixin container {
  padding: 1rem 1rem;
  background: var(--cmm-color-surface-0);
  position: relative;
}

@mixin main {
  display: flex;
  gap: 1rem;
  min-height: 3rem;
}

@mixin right {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-inline-size: 0;
}

@mixin header {
  line-height: 1.1;
}

@mixin content {
  margin-block-start: 0.3rem;
  flex: 1;
}

@mixin avatar {
  --cmm-Avatar-size: 2.5rem;
}
