.post {
  &:not(.withLine) {
    border-block-end: 1px solid var(--cmm-color-border-base);
  }
}

.selected {
  border-block-start: 1px solid var(--cmm-color-border-base);
  background: rgb(59 130 246 / 0.1);
}
