.title {
  font-weight: var(--cmm-font-weight-bold);
  font-size: var(--cmm-font-size-xl);
  margin-block: 1rem;
  padding-inline: 1rem;
}

.list {
  border-top: 1px solid var(--cmm-color-border-base);
}
